
@import url("https://fonts.googleapis.com/css?family=Open+Sans");

body {
  font-family: "Open+Sans";
}


header {
  background: url(../images/header_bg.jpg) no-repeat center top rgb(134,141,157);


}


.relaxr {
  padding: 10px;
  height: 300px;
  margin: 10px;

}

.benefits {
  background-color: #f0efef;
  padding: 10px;
  height: 300px;
  margin: 10px;
  font-size: 20px;
  font-weight: semibold;

}

.testimonials {
  background: url(../images/testimonial_bg.jpg) no-repeat center top rgb(134,141,157);
  padding: 10px;
  height: 300px;
  margin: 10px;
  font-size: 24px;
  font-weight: semibold;

}

footer {
  background-color: yellow;
  bottom:0;
  padding: 10px;
  height: 50px;
  margin: auto;

}
