

/******************************************
/* BASE STYLES
/*******************************************/

body {
  color: #f0efef;
  font-size: 15px;
  line-height: 1;
  color: #606161;
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
  font-weight: 600;
}





@media only screen and (max-width: 768px) {
  body {
    font-size: 18px;
  }


